.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.project__title {
  margin-bottom: 20px;
  color: white;
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

.project__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 1200px;
  height: 70vh;
  padding: 15px;
  overflow-y: scroll;
  scrollbar-color: red black; /*Цвет скролла, цвет ползунка*/
  scrollbar-width: none; /*Толщина скролла thin, auto*/
}

.project__wrapper::-webkit-scrollbar-track {
  background-color: red; /*Цвет скролла*/
}
.project__wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px; /*Закругление ползунка*/
  background-color: black; /*Цвет ползунка*/
}
.project__wrapper::-webkit-scrollbar {
  width: 0px; /*Толщина скролла*/
}

@media (max-width: 425px) {
  .project__title {
    font-size: 30px;
  }
}
